<form id="private-form" [formGroup]="form" autocomplete="off">

	<mat-card-title id="headline">Bestellung: COVID-19-Test</mat-card-title>

	<div>
		<mat-card class="form-card mat-elevation-z4">
			<div id="form-grid">
				<div id="left">
					<h2>Angaben zur Person</h2>
		
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Vorname</mat-label>
						<input matInput formControlName="firstname" required>
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
				
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Nachname</mat-label>
						<input matInput formControlName="lastname" required>
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
				
					<label>Geschlecht:</label>
					<mat-radio-group class="gender-radio-group" formControlName="gender">
						<mat-radio-button [value]="genderEnum.M">Männlich</mat-radio-button>
						<mat-radio-button [value]="genderEnum.W">Weiblich</mat-radio-button>
						<mat-radio-button [value]="genderEnum.D">Divers</mat-radio-button>
					</mat-radio-group>
				
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Geburtsdatum</mat-label>
						<input matInput formControlName="bday" required>
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
				
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Telefonnummer (vorzugweise Mobilfunknummer)</mat-label>
						<input matInput formControlName="phoneNumber">
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
				</div>
				
				<div id="right" formGroupName="address">
					<h2>Privatadresse</h2>
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Straße</mat-label>
						<input matInput formControlName="street">
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
			
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Hausnummer</mat-label>
						<input matInput formControlName="hnumber">
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
			
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>PLZ</mat-label>
						<input matInput formControlName="zip">
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
			
					<mat-form-field floatLabel="auto" class="form-field">
						<mat-label>Ort</mat-label>
						<input matInput formControlName="ort">
						<mat-error>Feld muss ausgefüllt werden.</mat-error>
					</mat-form-field>
				</div>
			</div>	
		</mat-card>

		<mat-card class="form-card mat-elevation-z4">
			<h2>Abstrichort*</h2>
			<mat-radio-group class="radio-group" formControlName="mobile" required>
				<mat-radio-button [value]="true">Befindet sich an der Adresse des Objektes (Firmenadresse).</mat-radio-button>
				<mat-radio-button [value]="false">Muss an der Privatadresse abgestrichen werden.</mat-radio-button>
			</mat-radio-group>

			<mat-form-field class="form-field" *ngIf="isFirmenadresse()">
				<mat-label>Standort (wird vom Gesundheitsamt ausgefüllt)</mat-label>
				<input matInput formControlName="testAddressNote">
			</mat-form-field>
		</mat-card>

		<mat-card id="contact-severity" class="form-card mat-elevation-z4">
			<h2>Schweregrad des Kontakts</h2>
			<mat-radio-group class="radio-group" formControlName="contactSeverity">
				<mat-radio-button value="index">Index (Direkter Verdachtsfall)</mat-radio-button>
				<mat-radio-button value="k1">K1 (Kontaktperson von Verdachtsfall)</mat-radio-button>
				<mat-radio-button value="k2">K2 (Kontaktperson von K1)</mat-radio-button>
				<mat-radio-button value="k3">K3 (Kontaktperson von K2)</mat-radio-button>
			</mat-radio-group>
		</mat-card>

		<mat-card id="contact-severity" class="form-card mat-elevation-z4">
			<mat-form-field class="form-field">
				<mat-label>Bearbeiter</mat-label>
				<input matInput formControlName="editor">
			</mat-form-field>

			<mat-form-field id="comment-field" class="full-width" appearance="outline">
				<mat-label>Anmerkung</mat-label>
				<textarea matInput rows="3" formControlName="comment"></textarea>
			</mat-form-field>
		</mat-card>

		<div id="bottom">
			<p id="datenschutz-text">Unter <a [routerLink]="['/privacy']">Datenschutz</a> finden Sie unsere Informationen gemäß Art. 13 DSGVO über den Datenschutz im Zusammenhang mit der Datenverarbeitung.</p>
			<button mat-raised-button color="accent" (click)="onSave()" [disabled]="form.invalid">Bestellung aufgeben</button>
		</div>
	
	</div>
	
</form>
