<mat-card id="login-form-container" class="mat-elevation-z4">
	<mat-card-title>Login</mat-card-title>
	<mat-card-content>

		<mat-form-field floatLabel="always" class="form-field">
			<mat-label>Nutzername</mat-label>
			<input [(ngModel)]="username" matInput type="text" name="email" id="email" (keydown.enter)="login()" required>
		</mat-form-field>

		<mat-form-field floatLabel="always" class="form-field">
			<mat-label>Passwort</mat-label>
			<input [(ngModel)]="password" matInput type="password" name="password" id="password" (keydown.enter)="login()" required>
		</mat-form-field><br>

		<div class="form-buttons">
			<button mat-raised-button color="accent" type="submit" id="login-button" (click)="login()">Login</button>
		</div>

		<p *ngIf="errorMessage != null" id="error-message">{{errorMessage}}</p>

	</mat-card-content>
</mat-card>
