#headline {
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}

#private-form {
	padding-left: 16px;
	padding-right: 16px;
}

#form-grid{
	width: 100%;
	display: grid;
	grid-template-areas: "top top top top" "left left right right" "bottom bottom bottom bottom";

	@media (max-width: 1278px) {
		display: flex;
		flex-direction: column;
	}
}

#top {
	grid-area: top;
	background-color: rgba(173, 216, 230, 0.5);
	margin-bottom: 16px;

	h3 {
		line-height: 8px;
		font-weight: 500;
	}
}
 
#left {
	grid-area: left;
}

#right { 
	grid-area: right;
}

#bottom {
	display: flex;
	flex-direction: column;
	width: 100%; 
	margin-bottom: 8px;
	grid-area: bottom;
}

.pre {
	text-align: justify;
	font-family: inherit;
	color: inherit;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
