<mat-card id="user-management-container" class="mat-elevation-z4">
	<mat-card-title>
		Nutzerverwaltung
			<a [routerLink]="['create']" routerLinkActive="router-link-active">
				<button mat-raised-button color="accent" id="btn-add-user">
					Nutzer hinzufügen
				</button>
			</a>
		
	</mat-card-title>
	<mat-form-field id="filter">
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" autocomplete="off">
	</mat-form-field>

	<div>
		<table mat-table [dataSource]="dataSource" matSort>
			<!-- Username Column -->
			<ng-container matColumnDef="username">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Nutzername</th>
				<td mat-cell *matCellDef="let row"> <a class="link-username" [routerLink]="['edit', row.username ]">Abcdefghiklmnopqerstuvwxqz</a> </td>
			</ng-container>

			<!-- Firstname Column -->
			<ng-container matColumnDef="firstname">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
				<td mat-cell *matCellDef="let row"> Abcdefghiklmnopqerstuvwxqz</td>
			</ng-container>

			<!-- Lastname Column -->
			<ng-container matColumnDef="lastname">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
				<td mat-cell *matCellDef="let row"> Abcdefghiklmnopqerstuvwxqz </td>
			</ng-container>

			<!-- Email Column -->
			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
				<td mat-cell *matCellDef="let row"> eine.sehr.lange.email@adresse.zum.testen </td>
			</ng-container>

			<!-- Facility Column -->
			<ng-container matColumnDef="facility">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Einrichtung</th>
				<td mat-cell *matCellDef="let row"> Abcdefghiklmnopqerstuvwxqz </td>
			</ng-container>

			<!-- Role Column -->
			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Rolle</th>
				<td mat-cell *matCellDef="let row"> ADMIN </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;">
			</tr>
		</table>

		<mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
	</div>
</mat-card>
