#btn-add-user {
	margin-left: 8px;
	align-content: center;
}

#btn-add-user a {
	text-decoration: none; /* no underline */
	color: white;
}

.link-username {
	text-decoration: none;
	color: inherit;
}

th {
	width: 150px;
}

#filter {
	width: 100%;
}
