#user-management-container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#table-users {
	max-width: 100%;
}

#btn-add-user {
	margin-left: 8px;
	align-content: center;
}

#btn-add-user a {
	text-decoration: none; /* no underline */
	color: white;
}

.link-username {
	text-decoration: none;
	color: inherit;
}

#filter {
	width: 100%;
}
