<h2>Angaben gemäß § 5 TMG:</h2>

<h3>DRK Fahrservice Hannover/Hildesheim GmbH</h3>

An der Bleiche 4-6<br/>
31832 Springe<br>
0511-3671780<br>
callcenter@drk-hannover.de<br>
www.drk-hannover.de<br>
<br>

Sitz der Gesellschaft: Springe<br>
Geschäftsführung: Lars Weber<br>
Handelsregister: Amtsgericht Hannover · Registernummer HRB 210263<br>
USt-Id-Nummer: DE115510060<br>
Bankdaten Sparkasse Hannover:  IBAN DE03 250 501 800 910 190 623<br><br>

<h3>Technischer Ansprechpartner</h3>
<p>Marcel Spark<br/>
Hagenkamp 63<br />
30982 Pattensen</p>

<p>E-Mail: maze@mzhost.de</p>
<br>
<p> API Dokumentation: <a href="https://api.covid19.drk-hannover.de/swagger-ui.html">api.covid19.drk-hannover.de</a>
<p> Wenn Sie diese API ebenfalls nutzen wollen, melden Sie sich bei den angegebenen technischen Kontaktdaten.</p> 
<hr>
<p>Sonstiges Dankeschön an alle Beteiligten, die dieses Projekt binnen kürzester Zeit zum Laufen gebracht haben:</p>
<ul>
  <li>Lukas Klingebiel (Entwicklung Frontend - <em>Ehrenamtlich</em>)</li>
  <li>Jan Brand (Administration - <em>Ehrenamtlich</em>) </li>
  <li>Henrik Toepfer (Koordination)</li>
  <li>Klaus Spark (Administration und Datenverarbeitung)</li>
  <li>Marcel Spark (Koordination, Adminstration, Entwicklung Frontend/ Backend - <em>Ehrenamtlich</em>)</li>
</ul> 
