<mat-card id="privacy-container" class="mat-elevation-z4">
	<mat-card-title>Datenschutz</mat-card-title>

Website:
<ul>
	<li>Keine Cookies</li>
	<li>Ausschließlich HTTPS/SSL Verbindungen</li>
	<li>Keine Protokolldaten von Verbindungen</li>
	<li>Accountdaten (diejenigen die selber editiert werden können) werden lokal auf einer Datenbank gespeichert bis sie vom User entfernt werden oder dieser Dienst eingestellt wird</li>
	<li>Keine Analyse von Daten und kein senden an Dritte</li>
</ul>

Formulardaten:
<ul>
	<li>Daten die im Covid19 Formular eingeben werden, werden verschlüsselt an die DRK Fahrservice Hannover/Hildesheim GmbH gesendet und weiter verarbeitet.</li>
	<li>Die eingetragenen Telefonnummer des Patienten wird verwendet um dem Patienten anzurufen</li>
	<li>Genaue Erläuterung der Dauer und Zweck der Verarbeitung folgt...</li>
</ul>
Kontakt:
<ul>
	<li>Im falle einer Kontaktaufnahme werden die Daten in sofern verarbeitet, dass eine fachliche Antwort möglich ist. Danach werden die Daten bis 30 Tage aufbewahrt. </li>
	<li>Kontakt für Auskünfte bzgl. Datenschutz: [admin][@][chatbx.eu]</li>
</ul>
</mat-card>
