<mat-card id="privacy-container" class="mat-elevation-z4">
	<mat-card-title>Datenschutz</mat-card-title>
<!--
Website:
<ul>
	<li>Keine Cookies</li>
	<li>Ausschließlich HTTPS/SSL Verbindungen</li>
	<li>Keine Protokolldaten von Verbindungen</li>
	<li>Accountdaten (diejenigen die selber editiert werden können) werden lokal auf einer Datenbank gespeichert bis sie vom User entfernt werden oder dieser Dienst eingestellt wird</li>
	<li>Keine Analyse von Daten und kein senden an Dritte</li>
</ul>

Formulardaten:
<ul>
	<li>Daten die im Covid19 Formular eingeben werden, werden verschlüsselt an die DRK Fahrservice Hannover/Hildesheim GmbH gesendet und weiter verarbeitet.</li>
	<li>Die eingetragenen Telefonnummer des Patienten wird verwendet um dem Patienten anzurufen</li>
	<li>Genaue Erläuterung der Dauer und Zweck der Verarbeitung folgt...</li>
</ul>
Kontakt:
<ul>
	<li>Im falle einer Kontaktaufnahme werden die Daten in sofern verarbeitet, dass eine fachliche Antwort möglich ist. Danach werden die Daten bis 30 Tage aufbewahrt. </li>
	<li>Kontakt für Auskünfte bzgl. Datenschutz: [admin][@][chatbx.eu]</li>
</ul>
  -->
<pre class="privacy-content">
Wir freuen uns über Ihr Interesse an unserer Website.
Der Schutz Ihrer personenbezogenen Daten bei der Erhebung, Verarbeitung und Nutzung anlässlich Ihres Besuchs auf unserer Website ist uns ein wichtiges Anliegen. Ihre Daten werden im Rahmen der gesetzlichen Vorschriften geschützt.
Bitte nehmen Sie sich einen Augenblick Zeit und lesen Sie die nachstehenden Informationen. Diese geben Ihnen darüber Auskunft, wie wir mit Ihren persönlichen Daten umgehen, wie und zu welchem Zweck diese Daten verwendet werden, an wen wir diese Daten weitergeben und wie wir Ihre persönlichen Daten schützen.
Ihre Persönlichkeitsrechte haben bei uns höchste Priorität und wir bemühen uns nach besten Kräften, diese Rechte zu schützen und zu gewährleisten.

<strong>Verantwortlicher für die Verarbeitung Ihrer personenbezogenen Daten im Sinne der Europäischen Datenschutz-Grundverordnung ist:</strong>

DRK Fahrservice Hannover/Hildesheim GmbH
An der Bleiche 4-6
31832 Springe
Telefon: 0511 / 36 71 78 - 0
E-Mail: callcenter@drk-hannover.de

<strong>Datenschutzbeauftragter</strong>
Bei Fragen zum Datenschutz steht Ihnen unser Datenschutzbeauftragter S-CON DATENSCHUTZ, Kriegerstraße 44, 30161 Hannover gerne zur Verfügung (datenschutzteam011@s-con.de). 

<strong>Erhebung und Verarbeitung von Daten</strong>
Jeder Zugriff auf unsere Website und jeder Abruf einer auf der Website hinterlegten Datei wird protokolliert. Die Speicherung dient internen systembezogenen und statistischen Zwecken. 
Protokolliert werden: 
</pre>

<ul>
	<li>Name der abgerufenen Datei,</li>
    <li>Datum und Uhrzeit des Abrufs,</li>
    <li>übertragene Datenmenge,</li>
    <li>Meldung über erfolgreichen Abruf,</li>
    <li>verwendetes Betriebssystem,</li> 
    <li>Browser und Browsertyp,</li>
    <li>die Internetseite, von der weitergeleitet wurde,</li>
    <li>der Internet-Service-Provider,</li> 
    <li>besuchte Seiten und</li> 
    <li>anfragende Domain.</li> 
</ul>

<pre class="privacy-content">
Zusätzlich werden die IP-Adressen der anfragenden Rechner protokolliert. Der Verantwortliche zieht allerdings keine Rückschlüsse auf eine Person. 
Diese Daten werden lediglich dafür benötigt, um die Inhalte unserer Website richtig anzeigen zu können, um die Inhalte dauerhaft für Sie zu optimieren sowie zur Unterstützung von strafrechtlichen Verfolgungen im Falle von Hackerangriffen. 
Insofern auf dieser Website personenbezogene Daten (wie z. B. Name, Anschrift, E-Mail-Adresse etc.) erhoben werden, geschieht dies im freiwilligen Einvernehmen mit Ihnen und in Ihrer Kenntnis.
Die persönlichen Daten werden durch uns im Rahmen der Vorschriften des Telemediengesetzes (TMG), der EU Datenschutz-Grundverordnung (DSGVO) und des Bundesdatenschutzgesetzes (BDSG) erhoben und verarbeitet. Ein Widerruf ist Ihnen jederzeit möglich.

<strong>Nutzung und Weitergabe personenbezogener Daten</strong>
Soweit Sie uns personenbezogene Daten zur Verfügung gestellt haben, verwenden wir diese entsprechend den europäischen und deutschen Datenschutzbestimmungen nur zur Beantwortung Ihrer Anfragen, zur Begründung, Abwicklung und Beendigung mit Ihnen und mit weiteren Dritte geschlossener Verträge und für die technische Administration.
Ihre personenbezogenen Daten werden an Dritte nur weitergegeben oder sonst übermittelt, wenn dies zum Zwecke der Vertragserfüllung – insbesondere Weitergabe von Auftragsdaten bei der Einbindung von Dienstleistern und/oder Lieferanten etc. – erforderlich ist oder dies zu Abrechnungszwecken erforderlich ist.  

<strong>Betroffenenrechte</strong>
Gemäß Art. 15 DSGVO steht alle Betroffenen (Ärzte, Patienten, Mitarbeiter der zuständigen Stellen) ein Recht auf Auskunft über die Verarbeitung deren personenbezogenen Daten zu. 
Darüber hinaus steht es jeder der Betroffenen frei, seine Rechte auf Berichtigung, Löschung oder, sofern das Löschen nicht möglich ist, auf Einschränkung der Verarbeitung und auf Datenübertragbarkeit gemäß der Artikel 16–18, 20 DSGVO geltend zu machen. 
Sollten Sie dieses Recht in Anspruch nehmen wollen, so wenden Sie sich bitte an unseren Datenschutzbeauftragten.
Weiterhin steht jeder Betroffener das Recht zu, sich jederzeit bei der zuständigen Aufsichtsbehörde zu beschweren. 
Sollten Sie der Meinung sein, dass die Verarbeitung Ihrer personenbezogenen Daten nicht unter Einhaltung der Datenschutzgesetze erfolgt, würden wir Sie höflich darum bitten, sich mit unserem Datenschutzbeauftragten in Kontakt zu setzen.
Des Weiteren haben Sie das Recht, jederzeit der Verarbeitung Ihrer personenbezogenen Daten zu widersprechen, soweit keine gesetzliche Verpflichtung oder weiteren Vorschriften entgegenstehen.

<strong>Benutzer-Login und Anmeldung zum Covid-19-Test</strong>
Alle personenbezogenen Daten und weiteren Informationen, die Sie uns im Rahmen der Registrierung auf der  Website sowie innerhalb der Anmeldung zum COVID-19-Test mitteilen, werden nur zum Zwecke der Anmeldung und Durchführung eines COVID-19-Tests und Übermittlung der Ergebnisse sowie zur Bearbeitung weiterer Anfragen auf Grundlage des Art. 6 Abs. 1 UAbs. 1 lit. d) und e) DSGVO erhoben und verarbeitet. Bei Nichtbereitstellung ist es leider keine Anmeldung und Registrierung eines Patienten möglich. Ohne die personenbezogenen Daten des Patienten, können keine Tests durchgeführt werden.
Eine automatisierte Entscheidungsfindung wird nicht vorgenommen.

Eine Weitergabe Ihrer personenbezogenen Daten an externe Dritte erfolgt an das Labor, an die Kassenärztliche Vereinigung und die zuständigen Personen, die mir der Durchführung eines Tests beauftragt worden sind.
Alle Daten werden verschlüsselt weitergeleitet. 

Eine Übermittlung der von Ihnen bereitgestellten personenbezogenen Daten an ein Drittland oder eine internationale Organisation findet nicht statt und ist auch nicht in Planung. 

Alle personenbezogenen Daten, die Sie uns über die Registrierung mitteilen sowie die Testergebnisse und weiteren Informationen und Schriftverkehr, werden bei uns für die Dauer der gesetzlichen Aufbewahrungsfristen gespeichert und nach Ablauf dieser Zeit umgehend gelöscht bzw. gesperrt oder vernichtet. 

<strong>Schutz der gespeicherten Daten</strong>
Wir setzen technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre uns zur Verfügung gestellten personenbezogenen Daten vor Manipulation, Verlust, Zerstörung oder dem Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend dem Stand der Technik fortlaufend verbessert und angepasst. Es ist nicht auszuschließen, dass von Ihnen unverschlüsselt übermittelte Daten von Dritten währen der Übermittlung eingesehen werden können. Es wird darauf hingewiesen, dass hinsichtlich der Datenübertragung über das Internet (z. B. bei der Kommunikation per E-Mail) keine abschließend sichere Übertragung garantiert werden kann. Empfindliche Daten sollten daher entweder gar nicht oder nur über eine sichere Verbindung (SSL) über das Internet übertragen werden.

<strong>Minderjährigenschutz</strong>
Die Einwilligung zur Verarbeitung personenbezogener Daten kann nur durch eine volljährige Person erteilt werden. Für Dienste der Informationsgesellschaft ist die Einwilligung eines Kindes ab dem Erreichen des sechzehnten Lebensjahres gemäß Art. 8 DSGVO zulässig.

<strong>Technisch notwendige Cookies (Session Cookies)</strong>
Wir verwenden auf unserer Webseite ausschließlich technische Cookies, um unsere Website nutzerfreundlicher zu gestalten. Um den vollen Funktionsumfang unseres Internetauftritts zu nutzen, ist es daher aus technischen Gründen erforderlich, die Session Cookies zuzulassen.

Zweck der Verwendung solcher Cookies ist, Ihnen die Möglichkeit zu geben, die Website vereinfacht und benutzerfreundlicher zu nutzen. Daher ist es erforderlich, dass der Browser Sie auch nach einem Seitenwechsel identifizieren kann. Die dabei gespeicherten und übermittelten Daten sind Spracheinstellungen und Log-In-Informationen. 

Die Daten werden nicht benutzt, um ein Nutzerprofil von Ihnen zu erstellen. Rechtliche Grundlage für den Einsatz von technischen Cookies ist unser berechtigtes Interesse gemäß Art. 6 Abs. 1 UAbs. 1 lit. f) DSGVO. Eine Nutzung der Website ohne Session Cookies ist nicht möglich. 

</pre>
</mat-card>
