<mat-card id="privacy-container" class="mat-elevation-z4">
	<mat-card-title>Datenschutz</mat-card-title>

Website:
<ul>
	<li>Keine Cookies</li>
	<li>Ausschließlich HTTPS/SSL Verbindungen</li>
	<li>Keine Protokolldaten jedglicher Verbindungen</li>
	<li>Accountdaten (diejenigen die selber editiert werde können) werden lokal auf einer Datenbank gespeichert bis sie vom entfernt werden</li>
	<li>Keine Analyse von Daten und kein senden an Dritte</li>
</ul>

Formulardaten:
<ul>
	<li>Daten die im Covid19 Formular eingeben werden, werden verschlüsselt an die DRK Fahrservice gesendet und weiter verarbeitet.</li>
	<li>Die angegebene Patientennummer wird verwendet um dem Patienten anzurufen.</li>
	<li>Dauer, Zweck, Dritte folgt...</li>
</ul>
Kontakt:
<ul>
	<li>Im falle einer Kontaktaufnahme werden die Daten in sofern verarbeitet, dass eine fachliche Antwort möglich ist. Danach werden die Daten bis 30 Tage aufbewahrt. </li>
	<li>Kontakt: [admin][@][chatbx.eu]</li>
</ul>
</mat-card>
