@import "../../custom-theme.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 3; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  border: transparent;
  background-color: #fafafa;
}

#sidenav-footer {
	width: 240px;
	position: fixed;
	bottom: 0;
}

#sidenav-logo-container {
	display: flex;
	justify-content: space-between;
}

#drk-logo {
	padding-left: 4px;
	padding-bottom: 8px;
	height: 48px;
}

#drawer-toggle-open {
}

#drawer-toggle-closed {
	position: fixed;
	top: 0;
	z-index: 1;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav mat-icon {
	margin-right: 16px;
}

.sidenav a {
	height: 40px;
	font-weight: 500;
}

.router-link-active mat-icon {
	color: red;
}

.titlebar {
	position: fixed;
	top: 0;
	z-index: 3;
	height: 56px;
	background-color: map-get($map: $covid-tests-client-accent, $key: 900);
	color: white;
}

#handset-margin {
	margin-bottom: 56px;
}
