#home-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#logo-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 420px;
	padding: 16px;
}

#title-container{
	padding: 16px;
}

#title-container h1 {
	text-align: center;
	margin-bottom: 0;
}

#link-drk {
	text-decoration: none;
	color: inherit;
}

#anmeldung {
	font-weight: 500;
}

#technische {
	font-weight: 300;
}

#drk {
	font-weight: 500;
}

#btn-container {
	display: flex;
	justify-content: center;
	padding: 16px;
	margin-bottom: 16px;
}

#btn-container button {
	width: 300px;
	height: 48px;
}

#names-container {
	display: flex;
	font-weight: 400;
	justify-content: center;
	text-align: center;
	color: rgba(0, 0, 0, 0.500);
}


