<div id="home-container">
	<div id="logo-container">
		<img src="../../assets/img/logo_drk.svg">
	</div>

	<div id="title-container">
		<h1 id="anmeldung">Digital Covid-Test Commissioning Platform</h1>
		<h1 id="technische">- D.C.C.P -</h1><br>
		<h1 id="drk"><a id="link-drk" href="https://www.drk-hannover.de">DRK-Region Hannover e.V.</a></h1>
	</div>

	<div id="btn-container">
		<a [routerLink]="[getLink()]" routerLinkActive="router-link-active">
			<button mat-raised-button color="accent" id="btn-link-covid">COVID-19-Test anfordern (CTC)</button>
		</a>
	</div>

	<div id="names-container">
		<a id="link-weiterer" [routerLink]="['/imprint']"><p>Ehrenamtlich von Marcel Spark<br> Mit der Unterstützung von Lukas Klingebiel und weiterer</p></a>
	</div>
</div>
