#home-container {
	margin-top: 100px;
	height: 300px;
}

#logo-container {
	margin-left: 25%;
	width: 50%;
	height: auto;
}

#btn-link-covid {
	margin-right: 50px;
}

#btn-link-covid a {
	text-decoration: none; /* no underline */
	color: white;
}

#btn-links {
	margin-top: 50px;
	margin-left: 33%;
}
