<div id="home-container">
	<div id="logo-container">
		<img src="../../assets/img/logo_drk.svg">
	</div>

	<div id="container2">
		<h2 class="mat-display-1"><br>Anmeldung zum COVID-19 Test<br>- kritische Infrastruktur -</h2>
	</div>

	<div id="container3">
		<h2 class="mat-display-1">DRK-Region Hannover e.V.</h2>
	</div>

	<div id="container4">
		<h2>Ehrenamtlich Marcel Spark<br> Mit der Unterstützung von Lukas Klingebiel und Jan Brand</h2>
		<br>
	</div>

	<div id="btn-links">
		<button mat-raised-button color="accent" id="btn-link-covid">
			<a [routerLink]="['covid-test']" routerLinkActive="router-link-active">COVID-19-Test anfordern</a>
		</button>
	</div>
</div>
